<%- include('./partials/header') %> 

    <div class="container">
        <h1 class="text-center p-3">Your Profile</h1>
        
        <div class="card" style="width: 28rem;">
            <img src="https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title"><%= username %> </h3>
              
            </div>
          </div>
    </div>
    
<%- include('./partials/footer') %> 
