<%- include('./partials/header') %> 

    <div class="container">
        <h1 class="text-center p-3">Register Yourself</h1>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
            <% if(typeof errMsg != 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= errMsg %> 
                    <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close"></button:button>
                </div>
            <% } %> 
            <form action="/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-3">
                    <label for="email">Enter Your Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="email" autocomplete="off"
                        placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="username">Choose A Username</label>
                    <input type="text" class="form-control form-control-lg" name="username" id="username" autocomplete="off"
                        placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password">Choose A Password</label>
                    <input type="password" class="form-control form-control-lg" name="password" id="password" autocomplete="off"
                        placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="confirmpassword">Confirm Your Password</label>
                    <input type="password" class="form-control form-control-lg" name="confirmpassword" id="confirmpassword"
                        autocomplete="off" placeholder="Confirm Password">
                </div>
                <div class="d-grid gap-3 mb-3">
                    <input type="submit" class="btn btn-lg btn-outline-primary" value="Register">
                    <a class="btn btn-lg btn-success" href="">Continue With Google</a>
                </div>
                <p>Already Registered ? <a class="card-link" href="/login">LOGIN Here</a> </p>
            </form>
        </div>
    </div>

<%- include('./partials/footer') %> 
